{%extends "blog/base.html"%}
{%block qp%}
<div class='container'>
    <h1>Blog Page</h1>
    <div>
    {%for i in posts%}
          <article class="media content-section">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ i.author }}</a>
              <small class="text-muted">{{ i.date_posted|date:"jS F Y"}}</small>
            </div>
            <h2><a class="article-title" href="#">{{ i.title }}</a></h2>
            <p class="article-content">{{ i.content }}</p>
          </div>
        </article>
    {% endfor %}
    </div>
</div>
{%endblock qp%}
